# MongoDB Connection String
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority
# For Local MongoDB: mongodb://localhost:27017/where_in_the_world
MONGO_URI=mongodb://localhost:27017/where_in_the_world

# Server Port
PORT=5000
